
<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianming.mapper.StudentMapper">
    <insert id="insert">
        INSERT INTO student(name,no,gender,clazz_id,create_time,update_time,degree,id_card,is_college,address,graduation_date, phone)
        VALUES(#{name},#{no},#{gender},#{clazzId},#{createTime},#{updateTime},#{degree},#{idCard},#{isCollege},#{address},#{graduationDate},#{phone})
    </insert>
    <update id="update">
        UPDATE student
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="no!=null">
                no=#{no},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="clazzId!=null">
                clazz_id=#{clazzId},
            </if>
            <if test="degree!=null">
                degree=#{degree},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="studentScore">
        UPDATE student
        <set>
            <if test="score!=null">
                violation_score = violation_score + #{score},
                violation_count = violation_count + 1,
            </if>
            update_time = NOW()
        </set>
        WHERE id= #{id}
    </update>
    <delete id="deleteStudent">
        DELETE FROM student WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getStudent" resultType="com.tianming.pojo.Student">
        select s.* ,c.name clazzName from student s left join clazz c on c.id = s.clazz_id
        <where>
            <if test="name!=null and name != ''">
                and s.name like '%${name}%'
            </if>
            <if test="degree!=null">
                and s.degree=#{degree}
            </if>
            <if test="clazzId !=null">
                and s.clazz_id=#{clazzId}
            </if>
        </where>
        order by s.update_time desc
    </select>
    <select id="getInfo" resultType="com.tianming.pojo.Student">
        select * from student where id=#{id}
    </select>
    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
            (case degree when 1 then '初中'
                      when 2 then '高中'
                      when 3 then '大专'
                      when 4 then '本科'
                      when 5 then '硕士'
                      when 6 then '博士'
                      else '其他' end)  name,
            count(*) value
        from student group by degree
        order by value
    </select>
    <select id="masterlist" resultType="java.util.Map">
        select c.name clazzName, count(*) total
        from student s left join clazz c on c.id = s.clazz_id
        group by c.id, c.name
        order by total desc
    </select>
</mapper>